@use 'colores';

.footer {
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.074);
  gap: 4rem;
  padding: 6rem 1rem 4rem;

  .contenedor-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      gap: 2rem;

      i {
        font-size: 2.5rem;
        color: white;
        &:hover {
          color: colores.$azul-2;
        }
      }
    }
  }

  p {
    color: white;
    a {
      color: white;
      font-weight: 600;
      text-decoration: none;
      color: colores.$azul-2;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
