@use './colores';

.header {
  background-color: colores.$negro-1;
  padding: 1rem 2rem;
  background: #0e0e0e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 5rem;
  position: sticky;

  &__logo {
    color: colores.$azul-2;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .nav {
    &__icono {
      font-size: 3rem;
      color: white;
    }

    &__contenedor {
      background: #191919;
      width: 100%;
      height: max-content;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;

      gap: 2rem;

      position: absolute;
      top: 50px;
      left: 0;

      text-transform: capitalize;
      transition: 1s;
      overflow: hidden;
      height: 0;

      &--visible {
        height: max-content;
        padding: 2rem;
      }
    }

    &__item {
      color: white;

      &:hover {
        color: blue;
        color: colores.$azul-2;
      }
    }
  }
}

@media (min-width: 630px) {
  .header {
    padding: 4rem;

    .nav {
      &__icono {
        display: none;
      }
      &__contenedor {
        background: transparent;
        flex-direction: row;
        position: initial;
        height: max-content;
      }
      &__item:first-child {
        color: colores.$azul-2;
      }
    }
  }
}
