@use './colores';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5rem;
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid #ffffff13;
  border-bottom: 0.1rem solid colores.$borde; /* PROV */
  background: #141414;
  background: colores.$negro-1; /* PROV */
  top: 0;
  z-index: 1;

  position: fixed;
  width: 100%;

  /* ////////////////////////////////////////////// */
  &__logo {
    color: colores.$azul-2;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .nav {
    &__icono {
      font-size: 3rem;
      color: white;
      color: colores.$normal;
    }

    &__caja {
      background: #191919;
      width: 100%;
      height: max-content;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;

      gap: 2rem;
      gap: 1.5rem;

      position: absolute;
      top: 5rem;
      left: 0;

      text-transform: capitalize;
      transition: 1s;
      overflow: hidden;
      height: 0;
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);

      &--visible {
        height: max-content;
        padding: 6rem 0;
      }

      a {
        color: white;
        color: colores.$normal;
        border-bottom: 0.15rem solid rgba(255, 0, 0, 0);
        transition: 0.5s;
        cursor: pointer;
        padding: 0 0.5rem;

        &:hover {
          color: blue;
          color: colores.$azul-2;
          border-bottom: 0.15rem solid colores.$azul-2;
          // background-color: yellow;
        }

        &.selected {
          // background-color: red;
          color: blue;
          color: colores.$azul-2;
          border-bottom: 0.15rem solid colores.$azul-2;
        }
      }
    }
  }
}

@media (min-width: 650px) {
  .header {
    padding: 4rem;

    .nav {
      &__icono {
        display: none;
      }
      &__caja {
        background: transparent;
        flex-direction: row;
        position: initial;
        height: max-content;
        border-bottom: none;
      }
    }
  }
}

@media (min-width: 650px) {
  .header li {
    font-size: 1.7rem;
  }
}

@media (min-width: 980px) {
  .header li {
    font-size: 1.75rem;
  }
}
