@use 'colores';

.pantalla-de-carga {
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #202020, #151515);
  position: fixed;
  top: 0;
  left: 0;
}

/* PANTALLA DE CARGA 2 */

@keyframes ldio-p5sjjoa9rhk {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-p5sjjoa9rhk div {
  box-sizing: border-box !important;
}
.ldio-p5sjjoa9rhk > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: colores.$azul-0 transparent colores.$azul-0 transparent;
  animation: ldio-p5sjjoa9rhk 1s linear infinite;
}

.ldio-p5sjjoa9rhk > div:nth-child(2),
.ldio-p5sjjoa9rhk > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-p5sjjoa9rhk 1s linear infinite reverse;
}
.ldio-p5sjjoa9rhk > div:nth-child(2) {
  border-color: transparent colores.$azul-3 transparent colores.$azul-3;
}
.ldio-p5sjjoa9rhk > div:nth-child(3) {
  border-color: transparent;
}
.ldio-p5sjjoa9rhk > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-p5sjjoa9rhk > div:nth-child(3) div:before,
.ldio-p5sjjoa9rhk > div:nth-child(3) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: colores.$azul-0;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 colores.$azul-0;
}
.ldio-p5sjjoa9rhk > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 colores.$azul-0;
}

.ldio-p5sjjoa9rhk > div:nth-child(4) {
  border-color: transparent;
}
.ldio-p5sjjoa9rhk > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-p5sjjoa9rhk > div:nth-child(4) div:before,
.ldio-p5sjjoa9rhk > div:nth-child(4) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: colores.$azul-3;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 colores.$azul-3;
}
.ldio-p5sjjoa9rhk > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 colores.$azul-3;
}
.loadingio-spinner-double-ring-1wm8naw1smp {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
  transform: scale(0.6);
}
.ldio-p5sjjoa9rhk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-p5sjjoa9rhk div {
  box-sizing: content-box;
}
