@use 'colores';

.seccion1 {
  border-top: 1px solid rgba(255, 255, 255, 0.074);
  border-bottom: 1px solid rgba(255, 255, 255, 0.074);
  width: 100%;
  // height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  // border: 1px solid red;

  height: 250px;
  background: linear-gradient(90deg, #202020, #151515);

  .cajas {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid white;
    gap: 3rem;
  }

  .caja1 {
    // background-color: rgba(255, 255, 0, 0.464);
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
      font-size: 3.5rem;
      font-weight: 500;
      color: rgb(173, 176, 255);
      animation: blink 0.5s infinite step-end alternate;

      &--animada {
        &:after {
          content: "Hello, I'm Jaen";
          animation: saludo 3s;
        }
      }
    }

    .cargo {
      font-size: 2rem;
      font-weight: 300;
      margin-top: -5px;
      border-right: 2px solid white;
      animation: blink 0.5s infinite step-end alternate;
      color: white;
      width: max-content;

      &--animada {
        &:before {
          content: '';
          animation: cargo 5s both;
        }
      }
    }
  }
  .caja2 {
    // background-color: rgba(30, 255, 0, 0.464);
    display: flex;
    gap: 1rem;

    &__boton {
      border: none;
      padding: 0.4rem 1.3rem;
      border-radius: 0.25rem;
      background-color: white;
      // background-color: colores.$azul-3;

      &:hover {
        background-color: colores.$azul-0;
        color: white;
      }
    }
  }
  .seccion1__imagen {
    // border: 1px solid white;
    width: 300px;
    height: 300px;
    // background-color: red;
    background: url(../assets/3.svg) no-repeat center;
    background-size: contain;
    display: none;
  }
}

/* ///////////////////////////////////////// */
@keyframes blink {
  50% {
    border: transparent;
  }
}

@keyframes saludo {
  0% {
    content: 'H';
    border-right: 3px solid rgb(255, 255, 255);
  }
  5% {
    content: 'He';
  }
  10% {
    content: 'Hel';
  }
  15% {
    content: 'Hell';
  }
  20% {
    content: 'Hello';
  }
  25% {
    content: 'Hello';
  }
  30% {
    content: 'Hello, ';
  }
  35% {
    content: 'Hello, I';
  }
  40% {
    content: "Hello, I'";
  }
  45% {
    content: "Hello, I'm";
  }
  45% {
    content: "Hello, I'm ";
  }
  50% {
    content: "Hello, I'm J";
  }
  55% {
    content: "Hello, I'm Ja";
  }
  60% {
    content: "Hello, I'm Jae";
  }
  65% {
    content: "Hello, I'm Jaen";
    border-right: 3px solid rgb(255, 255, 255);
  }
  70% {
    border-right: 3px solid transparent;
  }
  100% {
    border-right: 3px solid transparent;
  }
}

@keyframes cargo {
  1% {
    content: 'F';
  }
  3% {
    content: 'Fr';
  }
  6% {
    content: 'Fro';
  }
  9% {
    content: 'Fron';
  }
  12% {
    content: 'Front';
  }
  15% {
    content: 'Front-';
  }
  18% {
    content: 'Front-e';
  }
  21% {
    content: 'Front-en';
  }
  24% {
    content: 'Front-end';
  }
  27% {
    content: 'Front-end ';
  }
  30% {
    content: 'Front-end D';
  }
  33% {
    content: 'Front-end De';
  }
  36% {
    content: 'Front-end Dev';
  }
  39% {
    content: 'Front-end Deve';
  }
  42% {
    content: 'Front-end Devel';
  }
  45% {
    content: 'Front-end Develo';
  }
  48% {
    content: 'Front-end Develop';
  }
  51% {
    content: 'Front-end Develope';
  }
  53% {
    content: 'Front-end Developer';
  }
  100% {
    content: 'Front-end Developer';
  }
}
/* ///////////////////////////////////////// */

@media (min-width: 620px) {
  .seccion1 {
    height: max-content;
    justify-content: space-around;
    padding: 3rem;
    // background-color: blue;

    height: calc(50vh);

    .cajas {
      width: 275px;
      gap: 4rem;

      .caja1 {
        align-items: flex-start;

        .titulo {
          font-size: 3.7rem;
          // color: violet;
        }
        .cargo {
          font-size: 2rem;
        }
      }
      .caja2 {
        align-self: flex-start;

        &__boton {
          // background-color: red;
          font-size: 1.6rem;
          padding: 0.4rem 1.5rem;
        }
      }
    }

    .seccion1__imagen {
      // border: 1px solid greenyellow;
      display: initial;
      width: 250px;
      height: 250px;
    }
  }
}

@media (min-width: 980px) {
  .seccion1 {
    // background-color: green;

    .cajas {
      width: 440px;
      gap: 4.5rem;

      .caja1 {
        width: 440px;
        height: 130px;

        .titulo {
          font-size: 6rem;
          // color: red;
        }
        .cargo {
          font-size: 3rem;
        }
      }
      .caja2 {
        &__boton {
          // background-color: red;
          font-size: 1.8rem;
        }
      }
    }

    .seccion1__imagen {
      width: 300px;
      height: 300px;
    }
  }
}

@media (min-width: 1200px) {
  .seccion1 {
    // background-color: crimson;
    height: calc(100vh - 8rem);

    .cajas {
      width: 510px;
      gap: 6rem;

      .caja1 {
        width: 510px;
        height: 150px;

        .titulo {
          font-size: 7rem;
        }
        .cargo {
          font-size: 3.5rem;
          margin-top: -15px;
        }
      }
      .caja2 {
        &__boton {
          // background-color: red;
          font-size: 2rem;
        }
      }
    }

    .seccion1__imagen {
      width: 500px;
      height: 500px;
    }
  }
}
