@use 'colores';

.seccion2 {
  // background: darken(colores.$azul-1, 3);
  background-color: #101010;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 4rem 2rem;
  /* ////////////////////////////////////////////// */

  .caja {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    background: #1a1a1a;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;

    &__contenido {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      label {
        font-size: 3rem;
        text-align: center;
        font-weight: 500;
        color: white;
      }
      p {
        text-align: center;
        color: white;
      }
    }

    .caja__iconos {
      display: flex;
      justify-content: center;
      align-items: center;

      .contenedor-iconos {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        i {
          font-size: 5rem;
          max-width: 80px;
          max-height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;

          &:hover {
            color: colores.$azul-1;
          }
        }
      }
    }
  }
}

/* DE AQUI MAS GRANDE SOLUCIONADO */

@media (min-width: 420px) {
  .seccion2 {
    .caja {
      .caja__iconos {
        min-width: 350px;
        max-width: 350px;
        align-self: center;

        .contenedor-iconos {
          justify-content: flex-start; /* PROVISONAL */

          i {
            font-size: 6rem;
            font-size: 7rem;
          }
        }
      }
    }
  }
}

@media (min-width: 530px) {
  .seccion2 {
    .caja {
      .caja__iconos {
        min-width: 420px;
        max-width: 420px;

        .contenedor-iconos {
          gap: 5rem;

          i {
            font-size: 7.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 650px) {
  .seccion2 {
    padding: 5rem;

    .caja {
      gap: 6rem;

      .caja__contenido {
        label {
          font-size: 4rem;
        }
      }
    }
  }
}

@media (min-width: 740px) {
  .seccion2 {
    .caja {
      .caja__iconos {
        max-width: 540px;
        align-self: center;
      }
    }
  }
}

/* DE AQUI MAS GANDRE SOLUCIONADO 856+ */
@media (min-width: 900px) {
  .seccion2 {
    padding: 4.5rem;

    .caja {
      padding: 5rem 5rem;
      justify-content: space-between;

      max-width: 1300px;

      /* ////////////////////////////////////////////// */
      .caja__contenido {
        align-items: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        label {
          font-size: 5rem;
        }
        p {
          font-size: 1.8rem;
          text-align: start;
        }
      }
      .caja__iconos {
        // background-color: rgb(131, 55, 126);
        max-width: 1500px;

        .contenedor-iconos {
          max-width: 700px;
          gap: 5rem;

          i {
            font-size: 8rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .seccion2 {
    padding: 5rem 4rem;
    padding: 7rem 4rem;

    .caja {
      flex-direction: row;
      // background-color: red;

      .caja__contenido {
        // background-color: blue;
        align-items: flex-start;
        flex-grow: 1;

        label {
          text-align: start;
        }
        span {
          text-align: start;
        }
      }
      .caja__iconos {
        min-width: 750px;
        // background-color: green;
      }
    }
  }
}

/* TERMINADO MOVER CON EL NAV */
