@use 'colores';

.seccion3 {
  background: colores.$fondo;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  padding: 6rem 2rem;
  padding: 4rem 2rem;
  // background: blue;

  /* //////////////////////////////////////////////// */

  h2 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }

  &__contenedor {
    width: 100%;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: red;

    .proyecto {
      width: 100%;
      height: 300px;
      background: url(../assets/proyectos/ecommerce-2.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 1rem;
      max-width: 500px;
      overflow: hidden;
      transition: 0.3s;

      .contenido {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.6));

        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        padding: 2rem;

        .contenedor-datos {
          // background-color: blue;
          width: 100%;
          position: absolute;
          top: 3rem;
          padding: 1rem 0 2rem;
          padding: 1rem 2rem 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          text-shadow: 0 0 15px black;

          .nombre {
            font-size: 1.9rem;
            font-size: 2rem;
            font-size: 2.6rem;
            font-size: 2.8rem;
            text-align: center;
            color: white;
            font-weight: 500;
            margin-bottom: 1.5rem;
          }

          .fecha {
            color: white;
          }
          .descripcion {
            color: white;
            text-align: center;
          }
        }

        .contenedor-botones {
          // background-color: red;
          display: flex;
          gap: 2rem;
          width: max-content;
          position: relative;
          bottom: -210px;

          button {
            background-color: white;
            border: none;
            padding: 0.5rem 1.5rem;
            border-radius: 0.5rem;
            cursor: pointer;

            &:hover {
              background: darken($color: colores.$azul-0, $amount: 4);
              color: white;
              // box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }

      /* DIFERENTES FONDOS */
      &:nth-child(2) {
        background: url(../assets/proyectos/reloj-3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &:nth-child(3) {
        background: url(../assets/proyectos/jaencraft-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(4) {
        background: url(../assets/proyectos/jaencraft-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(5) {
        background: url(../assets/proyectos/ecommerce-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(6) {
        background: url(../assets/proyectos/reloj-3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    .proyecto:hover .contenido {
      opacity: 1;
    }
  }
}

/* RENPONSIVE -MEDIA QUERIS ///////////////////////////*/

@media (min-width: 650px) {
  .seccion3 {
    padding: 8rem 4rem;
    padding: 7rem 4rem;
    padding: 6.5rem 4rem;
    gap: 6rem;

    .seccion3__contenedor {
      justify-content: flex-start;

      .proyecto {
        width: calc(50% - 2rem);
      }
    }
    h2 {
      font-size: 4.5rem;
    }
  }
}

@media (min-width: 900px) {
  .seccion3 {
    .seccion3__contenedor {
      .proyecto {
        &:hover {
          transform: scale(1.03);
        }
      }
    }
    h2 {
      font-size: 5rem;
    }
  }
}

@media (min-width: 1099px) {
  .seccion3 {
    .seccion3__contenedor {
      gap: 5rem;
      .proyecto {
        width: calc(100% / 3 - 3.4rem);
      }
    }
  }
}
