@use 'colores';

.seccion3 {
  background: colores.$fondo;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 20px;

  padding: 6rem 4rem;

  /* ////////////////////////////////////////////// */

  h2 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }

  &__contenedor {
    // border: 1px solid rgba(255, 255, 255, 0.493);
    width: 100%;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    align-content: flex-start;
    // background-color: aqua;
    align-content: flex-start;
    // background-color: yellow;

    .proyecto {
      background-color: green;
      width: 100%;
      height: 300px;
      background: url(../assets/proyectos/ecommerce-2.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 1rem;
      min-width: 300px;
      max-width: 450px;

      &:nth-child(1) {
        background: url(../assets/proyectos/ecommerce-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(2) {
        background: url(../assets/proyectos/reloj-3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(3) {
        background: url(../assets/proyectos/jaencraft-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(4) {
        background: url(../assets/proyectos/ecommerce-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(6) {
        background: url(../assets/proyectos/reloj-3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(5) {
        background: url(../assets/proyectos/jaencraft-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}

@media (min-width: 650px) {
  .seccion3 {
    h2 {
      font-size: 4rem;
    }
  }
}

@media (min-width: 900px) {
  .seccion3 {
    // padding-top: 8rem; /* PROVISONAL */
    h2 {
      font-size: 5rem;
    }
  }
}
