@use 'colores';

.seccion4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 4rem 2rem 6rem;

  /* ////////////////////////////////////////////// */

  h2 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: white;
  }

  .caja {
    width: 100%;
    max-width: 700px;
    background: #1f1f1f;
    border-radius: 1rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    span {
      color: white;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        input {
          padding: 2rem;
          outline: none;
          border-radius: 0.5rem;
          background-color: #141414;
          border: 2px solid rgba(255, 255, 255, 0.448);
          border: none;
          color: white;
          border: 1px solid #141414;
          width: 100%;

          &::placeholder {
            color: white;
          }

          &:focus {
            border: 1px solid colores.$azul-1;
          }
        }
      }
      textarea {
        padding: 2rem;
        outline: none;
        resize: none;
        border-radius: 0.5rem;
        height: 150px;
        background-color: #141414;
        border: 1px solid rgba(255, 255, 255, 0.426);
        border: none;
        color: white;
        border: 1px solid #141414;

        &::placeholder {
          color: white;
        }

        &:focus {
          border: 1px solid colores.$azul-1;
        }
      }

      .boton-enviar {
        margin-top: 1rem;
        padding: 1.5rem;
        border-radius: 0.5rem;
        border: none;
        border: 1px solid colores.$azul-1;

        background-color: darken($color: colores.$azul-1, $amount: 4);

        color: white;

        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.5);

        &:hover {
          background-color: darken($color: colores.$azul-0, $amount: 2);
          background-color: darken($color: colores.$azul-0, $amount: 1);
          background-color: darken($color: colores.$azul-0, $amount: 0);
          color: white;
          border: 2px solid colores.$azul-0;
        }
      }
    }
  }
}

@media (min-width: 550px) {
  .seccion4 {
    .caja {
      form {
        div {
          flex-direction: row;
          input {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 650px) {
  .seccion4 {
    padding: 6.5rem 4rem 8rem;
    gap: 5rem;

    .caja {
      padding: 5rem 4rem;
      gap: 4rem;
    }
    h2 {
      font-size: 4rem;
    }
  }
}

@media (min-width: 900px) {
  .seccion4 {
    .caja {
      span {
        font-size: 1.8rem;
      }
    }
    h2 {
      font-size: 5rem;
    }
  }
}

@media (min-width: 980px) {
  .seccion4 {
    .caja {
      form {
        button {
          font-size: 1.8rem;
        }
      }
    }
  }
}
