.seccion1 {
  // background-color: rgb(131, 22, 255);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .caja {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titulo {
      font-size: 3.5rem;
      font-weight: 500;
      color: rgb(173, 176, 255);
      animation: blink 0.5s infinite step-end alternate;

      &--animada {
        &:after {
          content: "Hello, I'm Jaen";
          animation: saludo 3s;
        }
      }
    }

    .cargo {
      font-size: 2rem;
      font-weight: 300;
      margin-top: -5px;
      border-right: 2px solid white;
      animation: blink 0.5s infinite step-end alternate;
      color: white;

      &--animada {
        &:before {
          content: '';
          animation: cargo 5s both;
        }
      }
    }
  }
}

/* ///////////////////////////////////////// */
@keyframes blink {
  50% {
    border: transparent;
  }
}

@keyframes saludo {
  0% {
    content: 'H';
    border-right: 3px solid rgb(255, 255, 255);
  }
  5% {
    content: 'He';
  }
  10% {
    content: 'Hel';
  }
  15% {
    content: 'Hell';
  }
  20% {
    content: 'Hello';
  }
  25% {
    content: 'Hello';
  }
  30% {
    content: 'Hello, ';
  }
  35% {
    content: 'Hello, I';
  }
  40% {
    content: "Hello, I'";
  }
  45% {
    content: "Hello, I'm";
  }
  45% {
    content: "Hello, I'm ";
  }
  50% {
    content: "Hello, I'm J";
  }
  55% {
    content: "Hello, I'm Ja";
  }
  60% {
    content: "Hello, I'm Jae";
  }
  65% {
    content: "Hello, I'm Jaen";
    border-right: 3px solid rgb(255, 255, 255);
  }
  70% {
    border-right: 3px solid transparent;
  }
  100% {
    border-right: 3px solid transparent;
  }
}

@keyframes cargo {
  1% {
    content: 'F';
  }
  3% {
    content: 'Fu';
  }
  6% {
    content: 'Ful';
  }
  9% {
    content: 'Full';
  }
  12% {
    content: 'Full-';
  }
  15% {
    content: 'Full-s';
  }
  18% {
    content: 'Full-st';
  }
  21% {
    content: 'Full-sta';
  }
  24% {
    content: 'Full-stac';
  }
  27% {
    content: 'Full-stack';
  }
  30% {
    content: 'Full-stack ';
  }
  33% {
    content: 'Full-stack W';
  }
  36% {
    content: 'Full-stack We';
  }
  39% {
    content: 'Full-stack Web';
  }
  42% {
    content: 'Full-stack Web ';
  }
  45% {
    content: 'Full-stack Web D';
  }
  48% {
    content: 'Full-stack Web De';
  }
  51% {
    content: 'Full-stack Web Dev';
  }
  53% {
    content: 'Full-stack Web Deve';
  }
  56% {
    content: 'Full-stack Web Devel';
  }
  59% {
    content: 'Full-stack Web Develo';
  }
  61% {
    content: 'Full-stack Web Develop';
  }
  64% {
    content: 'Full-stack Web Develope';
  }
  67% {
    content: 'Full-stack Web Developer';
  }
  100% {
    content: 'Full-stack Web Developer';
  }
}
