@use 'pantalla-de-carga';
@use 'colores';
@use 'header';
@use 'seccion1';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: colores.$negro-1;
}
/* ///////////////// */
.over-hidden {
  overflow: hidden;
}
