@use 'colores';
@use 'header';
@use 'seccion1';
@use 'pantalla-de-carga';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

/* ///////////////// */
.body {
  background-color: colores.$negro-1;
}

.main {
  // background-color: rgba(172, 255, 47, 0.377);
}

.footer {
  // background-color: red;
}

/* ///////////////// */
.over-hidden {
  overflow: hidden;
}
