.pantalla-de-carga {
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  background-color: #141414;
  padding: 1rem 2rem;
  background-color: transparent;
  background: linear-gradient(270deg, #141414, rgb(44, 44, 44));
  background: #0e0e0e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 5rem;
  position: sticky;
}
.header__logo {
  color: #acaffe;
  font-size: 2.5rem;
  font-weight: 500;
}
.header .nav__icono {
  font-size: 3rem;
  color: white;
}
.header .nav__contenedor {
  background: #191919;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  position: absolute;
  top: 50px;
  left: 0;
  text-transform: capitalize;
  transition: 1s;
  overflow: hidden;
  height: 0;
}
.header .nav__contenedor--visible {
  height: max-content;
  padding: 2rem;
}
.header .nav__item {
  color: white;
}
.header .nav__item:hover {
  color: blue;
  color: #acaffe;
}

@media (min-width: 540px) {
  .header .nav__icono {
    display: none;
  }
  .header .nav__contenedor {
    background: transparent;
    flex-direction: row;
    position: static;
    padding: 0rem;
    transform: translateY(0);
  }
}
.seccion1 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion1 .caja {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion1 .caja .titulo {
  font-size: 3.5rem;
  font-weight: 500;
  color: rgb(173, 176, 255);
  animation: blink 0.5s infinite step-end alternate;
}
.seccion1 .caja .titulo--animada:after {
  content: "Hello, I'm Jaen";
  animation: saludo 3s;
}
@keyframes saludo {
  0% {
    content: "H";
    border-right: 3px solid rgb(255, 255, 255);
  }
  5% {
    content: "He";
  }
  10% {
    content: "Hel";
  }
  15% {
    content: "Hell";
  }
  20% {
    content: "Hello";
  }
  25% {
    content: "Hello";
  }
  30% {
    content: "Hello, ";
  }
  35% {
    content: "Hello, I";
  }
  40% {
    content: "Hello, I'";
  }
  45% {
    content: "Hello, I'm";
  }
  45% {
    content: "Hello, I'm ";
  }
  50% {
    content: "Hello, I'm J";
  }
  55% {
    content: "Hello, I'm Ja";
  }
  60% {
    content: "Hello, I'm Jae";
  }
  65% {
    content: "Hello, I'm Jaen";
    border-right: 3px solid rgb(255, 255, 255);
  }
  70% {
    border-right: 3px solid transparent;
  }
  100% {
    border-right: 3px solid transparent;
  }
}
.seccion1 .caja .cargo {
  font-size: 2rem;
  font-weight: 300;
  transform: translateY(-10px) translateX(0px);
  transform: translateY(-5px) translateX(0px);
  /* //////////// */
  white-space: nowrap;
  border-right: 2px solid white;
  width: max-content;
  animation: blink 0.5s infinite step-end alternate;
  overflow: hidden;
  color: white;
}
.seccion1 .caja .cargo--animada:before {
  content: "   ";
  animation: cargo 5s both;
}
@keyframes cargo {
  1% {
    content: "F";
  }
  3% {
    content: "Fu";
  }
  6% {
    content: "Ful";
  }
  9% {
    content: "Full";
  }
  12% {
    content: "Full-";
  }
  15% {
    content: "Full-s";
  }
  18% {
    content: "Full-st";
  }
  21% {
    content: "Full-sta";
  }
  24% {
    content: "Full-stac";
  }
  27% {
    content: "Full-stack";
  }
  30% {
    content: "Full-stack ";
  }
  33% {
    content: "Full-stack W";
  }
  36% {
    content: "Full-stack We";
  }
  39% {
    content: "Full-stack Web";
  }
  42% {
    content: "Full-stack Web ";
  }
  45% {
    content: "Full-stack Web D";
  }
  48% {
    content: "Full-stack Web De";
  }
  51% {
    content: "Full-stack Web Dev";
  }
  53% {
    content: "Full-stack Web Deve";
  }
  56% {
    content: "Full-stack Web Devel";
  }
  59% {
    content: "Full-stack Web Develo";
  }
  61% {
    content: "Full-stack Web Develop";
  }
  64% {
    content: "Full-stack Web Develope";
  }
  67% {
    content: "Full-stack Web Developer";
  }
  100% {
    content: "Full-stack Web Developer";
  }
}
@keyframes blink {
  50% {
    border: transparent;
  }
}
.seccion1 .caja .contenedor-imagenes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.seccion1 .caja .contenedor-imagenes .imagen {
  width: 200px;
  height: 200px;
  right: 70px;
  right: 60px;
  right: 50px;
  right: 45px;
  right: 40px;
  position: absolute;
  background-image: url(../assets/4.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
.seccion1 .caja .contenedor-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  bottom: 20px;
  gap: 1.5rem;
  right: -275px;
}
.seccion1 .caja .contenedor-icons i {
  font-size: 2rem;
  font-size: 1.5rem;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}

/* /////////////////////////////7 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #141414;
}

/* ///////////////// */
.over-hidden {
  overflow: hidden;
}

.main {
  background-color: rgba(172, 255, 47, 0.377);
  z-index: -5;
}

/*# sourceMappingURL=style.css.map */
